<html lang="en" xmlns:th="http://www.thymeleaf.org">
	
	<head>
		<title>Animator List</title>
		 <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		 
		<link rel="stylesheet" 
			href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" 
			integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" 
			crossorigin="anonymous" />
	</head>
	
	<body style="background-color:#ffc691;">
		
		<div class="container" >
		
			<center><h3 style="color:white;">Animator List</h3></center>
			
			<hr/>
			
			<th>
				<p align="right">
					<a class="btn btn-success" href="http://localhost:8080/customer/dns" role="button">Geri Dön</a>
				</p>
			</th>
			
			<table class="table table-dark table-bordered table-striped">
			
				<thead>
									
					<tr>
						<th>Employee Id</th>
						<th>Name</th>
						<th>Phone</th>
						<th>Expertise Area</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="animator: ${Animator}">
						<td th:text="${animator.EmployeeId}" />
						<td th:text="${animator.Name}" />
						<td th:text="${animator.PhoneNumber}" />
						<td th:text="${animator.ExpertiseArea}" />
						<td>
							<p align="right">
								<form action="#" th:action="@{'http://localhost:8080/animator/{id}'(id=${animator.EmployeeId})}" th:method="deleteAnimator" >
    								<center><button href="/animator/get" type="submit" class="btn btn-outline-danger">
        								Animator Sil
    								</button></center>
								</form>	</td>
									
					</tr>
				</tbody>
				
			</table>
		</div>
		
		
	</body>
	
</html>