<html lang="en" xmlns:th="http://www.thymeleaf.org">
	
	<head>
		<title>Equip Person List</title>
		 <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		 
		<link rel="stylesheet" 
			href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" 
			integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" 
			crossorigin="anonymous" />
	</head>
	
	<body style="background-color:#ffc691;">
		
		<div class="container" >
		
			<center><h3 style="color:white;">Equipment List</h3></center>
			
			<hr/>
			
			<th>
				<p align="right">
					<a class="btn btn-success" href="http://localhost:8080/customer/dns" role="button">Geri Dön</a>
				</p>
			</th>
			
			<table class="table table-dark table-bordered table-striped">
			
				<thead>
									
					<tr>
						<th>Equipment Id</th>
						<th>Equip Person Ssn</th>
						<th>Equipment Name</th>
						<th>Purpose</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="equipment: ${Equipment}">
						<td th:text="${equipment.EquipmentId}" />
						<td th:text="${equipment.EquipPersonSsn}" />
						<td th:text="${equipment.EquipmentName}" />
						<td th:text="${equipment.Purpose}" />
						<td>
							<p align="right">
								<form action="#" th:action="@{'http://localhost:8080/Equipment/{id}'(id=${equipment.EquipmentId})}" method="DELETE" >
    								<center><button type="submit" class="btn btn-outline-danger">
        								Equipment delete
    								</button></center>
								</form>	</td>
									
					</tr>
				</tbody>
				
			</table>
		</div>
		
		
	</body>
	
</html>